@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=Roboto&display=swap");
@import "./reset.css";
@import "./colors.css";
@import "./utils.scss";
:root {
    --xxs: 0.25rem;
    --xs: 0.5rem;
    --sm: 0.75rem;
    --md: 1.5rem;
    --lg: 1.75rem;
    --xl: 2rem;
    --xxl: 2.5rem;
    --radius: var(--xxs);
    --weight: 400;
}

[data-theme="dark"] {
    --body-link: var(--cyan-200);
    --body-text: var(--coolGray-400);
    --body-bg: var(--coolGray-900);
    --body-hdr: tomato;
    --body-hl: lime;
    --block-text: var(--coolGray-300);
    --block-bg: var(--coolGray-800);
    --button-text: var(--cyan-50);
    --button-bg: var(--coolGray-700);
    --input-bg: var(--trueGray-900);
}

[data-theme="light"] {
    --body-link: var(--blue-600);
    --body-text: var(--coolGray-800);
    --body-bg: var(--coolGray-300);
    --body-hdr: rgb(0, 86, 92);
    --body-hl: rgb(49, 5, 90);
    --block-text: var(--coolGray-700);
    --block-bg: var(--coolGray-100);
    --button-text: var(--cyan-50);
    --button-bg: var(--cyan-600);
    --input-bg: var(--trueGray-400);
}

body,
html {
    margin: 0;
    height: 100%;
    font-size: 10px;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2.4em;
    font-weight: var(--weight);
    color: var(--body-text);
    background-color: var(--body-bg);
    transition: background-color 1s ease;
    -webkit-text-size-adjust: 100%;
}

p {
    font-size: var(--md);
}

h1 {
    font-size: var(--xxl);
}

h2 {
    font-size: var(--xl);
}

h3 {
    font-size: var(--lg);
}

p+p {
    margin-top: var(--lg);
}

h2+p {
    margin-top: var(--sm);
}

a:link,
a:visited,
a:hover,
a:active {
    color: var(--body-link);
    text-decoration: underline;
}

button {
    color: var(--button-text);
    font-size: var(--md);
    background-color: var(--button-bg);
    padding: var(--sm);
    line-height: 1em;
    border-radius: var(--xxs);
    border: 1px solid var(--coolGray-600);
}

button.btn-small {
    padding: var(--xs);
    font-size: var(--sm);
}

.w-100 {
    width: 100%;
}

.block {
    color: var(--block-text);
    background-color: var(--block-bg);
}


/* Grid Responsive */

.grid-responsive {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
}

body.size-sm div.grid-responsive {
    grid-template-columns: repeat(3, minmax(0px, 1fr)) !important;
}

body.size-md div.grid-responsive {
    grid-template-columns: repeat(4, minmax(0px, 1fr)) !important;
}

body.size-lg div.grid-responsive {
    grid-template-columns: repeat(5, minmax(0px, 1fr)) !important;
}

body.size-xl div.grid-responsive {
    grid-template-columns: repeat(5, minmax(0px, 1fr)) !important;
}