:root {
    --amber-50: #ccc5af;
    --amber-50-lt: #ffffff;
    --amber-100: #cbba83;
    --amber-100-lt: #ffffe5;
    --amber-200: #caae53;
    --amber-200-lt: #ffffb3;
    --amber-300: #c8a415;
    --amber-300-lt: #ffff81;
    --amber-400: #c79a00;
    --amber-400-lt: #fffd61;
    --amber-500: #c79100;
    --amber-500-lt: #fff350;
    --amber-600: #c68400;
    --amber-600-lt: #ffe54c;
    --amber-700: #c67100;
    --amber-700-lt: #ffd149;
    --amber-800: #c56000;
    --amber-800-lt: #ffc046;
    --amber-900: #c43e00;
    --amber-900-lt: #ffa040;
    --amber-a100: #cab350;
    --amber-a100-lt: #ffffb0;
    --amber-a200: #c8a600;
    --amber-a200-lt: #ffff74;
    --amber-a400: #c79400;
    --amber-a400-lt: #fff64f;
    --amber-a700: #c67c00;
    --amber-a700-lt: #ffdd4b;
    --blue-50: #b1bfca;
    --blue-50-lt: #ffffff;
    --blue-100: #8aacc8;
    --blue-100-lt: #eeffff;
    --blue-200: #5d99c6;
    --blue-200-lt: #c3fdff;
    --blue-300: #2286c3;
    --blue-300-lt: #9be7ff;
    --blue-400: #0077c2;
    --blue-400-lt: #80d6ff;
    --blue-500: #0069c0;
    --blue-500-lt: #6ec6ff;
    --blue-600: #005cb2;
    --blue-600-lt: #6ab7ff;
    --blue-700: #004ba0;
    --blue-700-lt: #63a4ff;
    --blue-800: #003c8f;
    --blue-800-lt: #5e92f3;
    --blue-900: #002171;
    --blue-900-lt: #5472d3;
    --blue-a100: #4d82cb;
    --blue-a100-lt: #b6e3ff;
    --blue-a200: #005ecb;
    --blue-a200-lt: #83b9ff;
    --blue-a400: #004ecb;
    --blue-a400-lt: #75a7ff;
    --blue-a700: #0039cb;
    --blue-a700-lt: #768fff;
    --blue-gray-50: #babdbe;
    --blue-gray-50-lt: #ffffff;
    --blue-gray-100: #9ea7aa;
    --blue-gray-100-lt: #ffffff;
    --blue-gray-200: #808e95;
    --blue-gray-200-lt: #e2f1f8;
    --blue-gray-300: #62757f;
    --blue-gray-300-lt: #c1d5e0;
    --blue-gray-400: #4b636e;
    --blue-gray-400-lt: #a7c0cd;
    --blue-gray-500: #34515e;
    --blue-gray-500-lt: #8eacbb;
    --blue-gray-600: #29434e;
    --blue-gray-600-lt: #819ca9;
    --blue-gray-700: #1c313a;
    --blue-gray-700-lt: #718792;
    --blue-gray-800: #102027;
    --blue-gray-800-lt: #62727b;
    --blue-gray-900: #000a12;
    --blue-gray-900-lt: #4f5b62;
    --brown-50: #bdb9b7;
    --brown-50-lt: #ffffff;
    --brown-100: #a69b97;
    --brown-100-lt: #fffffb;
    --brown-200: #8c7b75;
    --brown-200-lt: #efdcd5;
    --brown-300: #725b53;
    --brown-300-lt: #d3b8ae;
    --brown-400: #5f4339;
    --brown-400-lt: #be9c91;
    --brown-500: #4b2c20;
    --brown-500-lt: #a98274;
    --brown-600: #40241a;
    --brown-600-lt: #9c786c;
    --brown-700: #321911;
    --brown-700-lt: #8b6b61;
    --brown-800: #260e04;
    --brown-800-lt: #7b5e57;
    --brown-900: #1b0000;
    --brown-900-lt: #6a4f4b;
    --cyan-50: #aec4c7;
    --cyan-50-lt: #ffffff;
    --cyan-100: #81b9bf;
    --cyan-100-lt: #e5ffff;
    --cyan-200: #4bacb8;
    --cyan-200-lt: #b4ffff;
    --cyan-300: #009faf;
    --cyan-300-lt: #88ffff;
    --cyan-400: #0095a8;
    --cyan-400-lt: #6ff9ff;
    --cyan-500: #008ba3;
    --cyan-500-lt: #62efff;
    --cyan-600: #007c91;
    --cyan-600-lt: #5ddef4;
    --cyan-700: #006978;
    --cyan-700-lt: #56c8d8;
    --cyan-800: #005662;
    --cyan-800-lt: #4fb3bf;
    --cyan-900: #00363a;
    --cyan-900-lt: #428e92;
    --cyan-a100: #4bcbcc;
    --cyan-a100-lt: #baffff;
    --cyan-a200: #00cbcc;
    --cyan-a200-lt: #76ffff;
    --cyan-a400: #00b2cc;
    --cyan-a400-lt: #6effff;
    --cyan-a700: #0088a3;
    --cyan-a700-lt: #62ebff;
    --deep-orange-50: #c8b7b5;
    --deep-orange-50-lt: #ffffff;
    --deep-orange-100: #cb9b8c;
    --deep-orange-100-lt: #ffffee;
    --deep-orange-200: #c97b63;
    --deep-orange-200-lt: #ffddc1;
    --deep-orange-300: #c75b39;
    --deep-orange-300-lt: #ffbb93;
    --deep-orange-400: #c63f17;
    --deep-orange-400-lt: #ffa270;
    --deep-orange-500: #c41c00;
    --deep-orange-500-lt: #ff8a50;
    --deep-orange-600: #b91400;
    --deep-orange-600-lt: #ff844c;
    --deep-orange-700: #ac0800;
    --deep-orange-700-lt: #ff7d47;
    --deep-orange-800: #9f0000;
    --deep-orange-800-lt: #ff7543;
    --deep-orange-900: #870000;
    --deep-orange-900-lt: #f9683a;
    --deep-orange-a100: #c96f53;
    --deep-orange-a100-lt: #ffd0b0;
    --deep-orange-a200: #c53d13;
    --deep-orange-a200-lt: #ffa06d;
    --deep-orange-a400: #c30000;
    --deep-orange-a400-lt: #ff7539;
    --deep-orange-a700: #a30000;
    --deep-orange-a700-lt: #ff6434;
    --deep-purple-50: #bbb5c3;
    --deep-purple-50-lt: #ffffff;
    --deep-purple-100: #a094b7;
    --deep-purple-100-lt: #fff7ff;
    --deep-purple-200: #836fa9;
    --deep-purple-200-lt: #e6ceff;
    --deep-purple-300: #65499c;
    --deep-purple-300-lt: #c7a4ff;
    --deep-purple-400: #4d2c91;
    --deep-purple-400-lt: #b085f5;
    --deep-purple-500: #320b86;
    --deep-purple-500-lt: #9a67ea;
    --deep-purple-600: #280680;
    --deep-purple-600-lt: #9162e4;
    --deep-purple-700: #140078;
    --deep-purple-700-lt: #8559da;
    --deep-purple-800: #000070;
    --deep-purple-800-lt: #7953d2;
    --deep-purple-900: #000063;
    --deep-purple-900-lt: #6746c3;
    --deep-purple-a100: #805acb;
    --deep-purple-a100-lt: #e7b9ff;
    --deep-purple-a200: #3f1dcb;
    --deep-purple-a200-lt: #b47cff;
    --deep-purple-a400: #0100ca;
    --deep-purple-a400-lt: #a255ff;
    --deep-purple-a700: #0a00b6;
    --deep-purple-a700-lt: #9d46ff;
    --gray-50: #c7c7c7;
    --gray-50-lt: #ffffff;
    --gray-100: #c2c2c2;
    --gray-100-lt: #ffffff;
    --gray-200: #bcbcbc;
    --gray-200-lt: #ffffff;
    --gray-300: #aeaeae;
    --gray-300-lt: #ffffff;
    --gray-400: #8d8d8d;
    --gray-400-lt: #efefef;
    --gray-500: #707070;
    --gray-500-lt: #cfcfcf;
    --gray-600: #494949;
    --gray-600-lt: #a4a4a4;
    --gray-700: #373737;
    --gray-700-lt: #8e8e8e;
    --gray-800: #1b1b1b;
    --gray-800-lt: #6d6d6d;
    --gray-900: #000000;
    --gray-900-lt: #484848;
    --green-50: #b6c2b7;
    --green-50-lt: #ffffff;
    --green-100: #97b498;
    --green-100-lt: #fbfffc;
    --green-200: #75a478;
    --green-200-lt: #d7ffd9;
    --green-300: #519657;
    --green-300-lt: #b2fab4;
    --green-400: #338a3e;
    --green-400-lt: #98ee99;
    --green-500: #087f23;
    --green-500-lt: #80e27e;
    --green-600: #00701a;
    --green-600-lt: #76d275;
    --green-700: #00600f;
    --green-700-lt: #6abf69;
    --green-800: #005005;
    --green-800-lt: #60ad5e;
    --green-900: #003300;
    --green-900-lt: #4c8c4a;
    --green-a100: #88c399;
    --green-a100-lt: #ecfffd;
    --green-a200: #2bbd7e;
    --green-a200-lt: #9fffe0;
    --green-a400: #00b248;
    --green-a400-lt: #66ffa6;
    --green-a700: #009624;
    --green-a700-lt: #5efc82;
    --indigo-50: #b6b8c3;
    --indigo-50-lt: #ffffff;
    --indigo-100: #9499b7;
    --indigo-100-lt: #f8fdff;
    --indigo-200: #6f79a8;
    --indigo-200-lt: #d1d9ff;
    --indigo-300: #49599a;
    --indigo-300-lt: #aab6fe;
    --indigo-400: #26418f;
    --indigo-400-lt: #8e99f3;
    --indigo-500: #002984;
    --indigo-500-lt: #757de8;
    --indigo-600: #00227b;
    --indigo-600-lt: #6f74dd;
    --indigo-700: #001970;
    --indigo-700-lt: #666ad1;
    --indigo-800: #001064;
    --indigo-800-lt: #5f5fc4;
    --indigo-900: #000051;
    --indigo-900-lt: #534bae;
    --indigo-a100: #5870cb;
    --indigo-a100-lt: #c0cfff;
    --indigo-a200: #0043ca;
    --indigo-a200-lt: #8f9bff;
    --indigo-a400: #0031ca;
    --indigo-a400-lt: #8187ff;
    --indigo-a700: #0026ca;
    --indigo-a700-lt: #7a7cff;
    --light-blue-50: #afc2cb;
    --light-blue-50-lt: #ffffff;
    --light-blue-100: #82b3c9;
    --light-blue-100-lt: #e6ffff;
    --light-blue-200: #4ba3c7;
    --light-blue-200-lt: #b6ffff;
    --light-blue-300: #0093c4;
    --light-blue-300-lt: #8bf6ff;
    --light-blue-400: #0086c3;
    --light-blue-400-lt: #73e8ff;
    --light-blue-500: #007ac1;
    --light-blue-500-lt: #67daff;
    --light-blue-600: #006db3;
    --light-blue-600-lt: #63ccff;
    --light-blue-700: #005b9f;
    --light-blue-700-lt: #5eb8ff;
    --light-blue-800: #004c8c;
    --light-blue-800-lt: #58a5f0;
    --light-blue-900: #002f6c;
    --light-blue-900-lt: #4f83cc;
    --light-blue-a100: #49a7cc;
    --light-blue-a100-lt: #b5ffff;
    --light-blue-a200: #0094cc;
    --light-blue-a200-lt: #82f7ff;
    --light-blue-a400: #0081cb;
    --light-blue-a400-lt: #69e2ff;
    --light-blue-a700: #0064b7;
    --light-blue-a700-lt: #64c1ff;
    --light-green-50: #bec5b7;
    --light-green-50-lt: #ffffff;
    --light-green-100: #aabb97;
    --light-green-100-lt: #fffffb;
    --light-green-200: #94af76;
    --light-green-200-lt: #f8ffd7;
    --light-green-300: #7da453;
    --light-green-300-lt: #e1ffb1;
    --light-green-400: #6b9b37;
    --light-green-400-lt: #cfff95;
    --light-green-500: #5a9216;
    --light-green-500-lt: #bef67a;
    --light-green-600: #4b830d;
    --light-green-600-lt: #aee571;
    --light-green-700: #387002;
    --light-green-700-lt: #99d066;
    --light-green-800: #255d00;
    --light-green-800-lt: #85bb5c;
    --light-green-900: #003d00;
    --light-green-900-lt: #629749;
    --light-green-a100: #99cc60;
    --light-green-a100-lt: #ffffc2;
    --light-green-a200: #7ecb20;
    --light-green-a200-lt: #e7ff8c;
    --light-green-a400: #32cb00;
    --light-green-a400-lt: #b0ff57;
    --light-green-a700: #1faa00;
    --light-green-a700-lt: #9cff57;
    --lime-50: #c6c8b5;
    --lime-50-lt: #ffffff;
    --lime-100: #bdc192;
    --lime-100-lt: #fffff6;
    --lime-200: #b3bc6d;
    --lime-200-lt: #ffffce;
    --lime-300: #a8b545;
    --lime-300-lt: #ffffa6;
    --lime-400: #a0af22;
    --lime-400-lt: #ffff89;
    --lime-500: #99aa00;
    --lime-500-lt: #ffff6e;
    --lime-600: #8c9900;
    --lime-600-lt: #f5fd67;
    --lime-700: #7c8500;
    --lime-700-lt: #e4e65e;
    --lime-800: #6c6f00;
    --lime-800-lt: #d2ce56;
    --lime-900: #524c00;
    --lime-900-lt: #b4a647;
    --lime-a100: #bfcc50;
    --lime-a100-lt: #ffffb3;
    --lime-a200: #b8cc00;
    --lime-a200-lt: #ffff78;
    --lime-a400: #90cc00;
    --lime-a400-lt: #fdff58;
    --lime-a700: #79b700;
    --lime-a700-lt: #e4ff54;
    --orange-50: #ccc0ae;
    --orange-50-lt: #ffffff;
    --orange-100: #cbae82;
    --orange-100-lt: #ffffe4;
    --orange-200: #ca9b52;
    --orange-200-lt: #ffffb0;
    --orange-300: #c88719;
    --orange-300-lt: #ffe97d;
    --orange-400: #c77800;
    --orange-400-lt: #ffd95b;
    --orange-500: #c66900;
    --orange-500-lt: #ffc947;
    --orange-600: #c25e00;
    --orange-600-lt: #ffbd45;
    --orange-700: #bb4d00;
    --orange-700-lt: #ffad42;
    --orange-800: #b53d00;
    --orange-800-lt: #ff9d3f;
    --orange-900: #ac1900;
    --orange-900-lt: #ff833a;
    --orange-a100: #caa052;
    --orange-a100-lt: #ffffb1;
    --orange-a200: #c77c02;
    --orange-a200-lt: #ffdd71;
    --orange-a400: #c56200;
    --orange-a400-lt: #ffc246;
    --orange-a700: #c43c00;
    --orange-a700-lt: #ff9e40;
    --pink-50: #c9b2ba;
    --pink-50-lt: #ffffff;
    --pink-100: #c48b9f;
    --pink-100-lt: #ffeeff;
    --pink-200: #bf5f82;
    --pink-200-lt: #ffc1e3;
    --pink-300: #ba2d65;
    --pink-300-lt: #ff94c2;
    --pink-400: #b4004e;
    --pink-400-lt: #ff77a9;
    --pink-500: #b0003a;
    --pink-500-lt: #ff6090;
    --pink-600: #a00037;
    --pink-600-lt: #ff5c8d;
    --pink-700: #8c0032;
    --pink-700-lt: #fa5788;
    --pink-800: #78002e;
    --pink-800-lt: #e35183;
    --pink-900: #560027;
    --pink-900-lt: #bc477b;
    --pink-a100: #c94f7c;
    --pink-a100-lt: #ffb2dd;
    --pink-a200: #c60055;
    --pink-a200-lt: #ff79b0;
    --pink-a400: #bb002f;
    --pink-a400-lt: #ff5983;
    --pink-a700: #8e0038;
    --pink-a700-lt: #fd558f;
    --purple-50: #c0b3c2;
    --purple-50-lt: #ffffff;
    --purple-100: #af8eb5;
    --purple-100-lt: #fff1ff;
    --purple-200: #9c64a6;
    --purple-200-lt: #ffc4ff;
    --purple-300: #883997;
    --purple-300-lt: #ee98fb;
    --purple-400: #790e8b;
    --purple-400-lt: #df78ef;
    --purple-500: #6a0080;
    --purple-500-lt: #d05ce3;
    --purple-600: #5c007a;
    --purple-600-lt: #c158dc;
    --purple-700: #4a0072;
    --purple-700-lt: #ae52d4;
    --purple-800: #38006b;
    --purple-800-lt: #9c4dcc;
    --purple-900: #12005e;
    --purple-900-lt: #7c43bd;
    --purple-a100: #b64fc8;
    --purple-a100-lt: #ffb2ff;
    --purple-a200: #aa00c7;
    --purple-a200-lt: #ff79ff;
    --purple-a400: #9e00c5;
    --purple-a400-lt: #ff5bff;
    --purple-a700: #7200ca;
    --purple-a700-lt: #e254ff;
    --red-50: #ccb9bc;
    --red-50-lt: #ffffff;
    --red-100: #cb9ca1;
    --red-100-lt: #ffffff;
    --red-200: #ba6b6c;
    --red-200-lt: #ffcccb;
    --red-300: #af4448;
    --red-300-lt: #ffa4a2;
    --red-400: #b61827;
    --red-400-lt: #ff867c;
    --red-500: #ba000d;
    --red-500-lt: #ff7961;
    --red-600: #ab000d;
    --red-600-lt: #ff6f60;
    --red-700: #9a0007;
    --red-700-lt: #ff6659;
    --red-800: #8e0000;
    --red-800-lt: #ff5f52;
    --red-900: #7f0000;
    --red-900-lt: #f05545;
    --red-a100: #c85a54;
    --red-a100-lt: #ffbcaf;
    --red-a200: #c50e29;
    --red-a200-lt: #ff867f;
    --red-a400: #c4001d;
    --red-a400-lt: #ff616f;
    --red-a700: #9b0000;
    --red-a700-lt: #ff5131;
    --teal-50: #aebfbe;
    --teal-50-lt: #ffffff;
    --teal-100: #82ada9;
    --teal-100-lt: #e5ffff;
    --teal-200: #4f9a94;
    --teal-200-lt: #b2fef7;
    --teal-300: #00867d;
    --teal-300-lt: #82e9de;
    --teal-400: #00766c;
    --teal-400-lt: #64d8cb;
    --teal-500: #00675b;
    --teal-500-lt: #52c7b8;
    --teal-600: #005b4f;
    --teal-600-lt: #4ebaaa;
    --teal-700: #004c40;
    --teal-700-lt: #48a999;
    --teal-800: #003d33;
    --teal-800-lt: #439889;
    --teal-900: #00251a;
    --teal-900-lt: #39796b;
    --teal-a100: #75ccb9;
    --teal-a100-lt: #dbffff;
    --teal-a200: #14cba8;
    --teal-a200-lt: #9effff;
    --teal-a400: #00b686;
    --teal-a400-lt: #6effe8;
    --teal-a700: #008e76;
    --teal-a700-lt: #5df2d6;
    --yellow-50: #cccab5;
    --yellow-50-lt: #ffffff;
    --yellow-100: #cbc693;
    --yellow-100-lt: #fffff7;
    --yellow-200: #cbc26d;
    --yellow-200-lt: #ffffcf;
    --yellow-300: #cabf45;
    --yellow-300-lt: #ffffa8;
    --yellow-400: #c9bc1f;
    --yellow-400-lt: #ffff8b;
    --yellow-500: #c8b900;
    --yellow-500-lt: #ffff72;
    --yellow-600: #c6a700;
    --yellow-600-lt: #ffff6b;
    --yellow-700: #c49000;
    --yellow-700-lt: #fff263;
    --yellow-800: #c17900;
    --yellow-800-lt: #ffd95a;
    --yellow-900: #bc5100;
    --yellow-900-lt: #ffb04c;
    --yellow-a100: #cacc5d;
    --yellow-a100-lt: #ffffbf;
    --yellow-a200: #c7cc00;
    --yellow-a200-lt: #ffff5a;
    --yellow-a400: #c7b800;
    --yellow-a400-lt: #ffff56;
    --yellow-a700: #c7a500;
    --yellow-a700-lt: #ffff52;
}